*{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    font-size: 30px;
}

ul li:first-child{
    color: purple;
    font-weight: bold;
}

ul li:nth-child(2){
    color: orange;
    font-weight: bold;
}
ul li:last-child(2){
    color: red;
    font-weight: bold;
}

#mi-enlace{
    font-size: 30px;
    color: lightblue;
}

#mi-enlace:link{
    color: rebeccapurple;
}
#mi-enlace:visited{
    color: green;
}
#mi-enlace:hover{
    color: blue;
}
#mi-enlace:active{
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}

input[type="text"]:focus{
    border: 4px dashed red;
}

